---
import OnlineBoard from "../components/online";
import Layout from "../layouts/Layout.astro";
import VideoCall from "../components/vediocall";
import MultiplayerWithVideoCall from "../components/multiplayer_with_vediocall";
---
<Layout>

    <main >

 <MultiplayerWithVideoCall client:visible/>


    </main>

    </Layout>