---
// BaseLayout.astro
const { title = "Chess" } = Astro.props;
import "../styles/global.css"
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/png" href="/img.png" />
	<title>chess</title>
</head>
<body style="background-color: black">
<slot />
</body>
</html>
